// 对antd重新改写样式
:global {
  .ant-table-thead {
    .ant-table-cell {
      background-color: #E8F4FF;  
    } 
  }
  .ant-menu-horizontal {
    border-bottom: none !important;
  }
  .ant-menu-vertical.ant-menu-sub, .ant-menu-vertical-left.ant-menu-sub, .ant-menu-vertical-right.ant-menu-sub{
    max-height: calc(~"100vh - 100px") !important;
  }
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu{
    margin: 0 14px !important;
  }
}

